.header{
    grid-area: h;
    background-color: aquamarine;
}
.header img{
    width: 75px;
}

.headerText{
    float: right;
}

.headerText a{
    color: grey;
}

.errorText{
    color: red;
    text-transform: uppercase;
}